/* Reset style for bb-nav-search */

.bb-nav-search-shortcode > .fl-page-nav-search {
  position: initial;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
}

.bb-nav-search-shortcode > .fl-page-nav-search > .fa-search {
  position: initial;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
  padding: initial;
  font-size: unset;
  color: unset;
}

.bb-nav-search-shortcode > .fl-page-nav-search > .fa-search:hover,
.bb-nav-search-shortcode > .fl-page-nav-search > .fa-search:focus {
  color: unset;
}

.bb-nav-search-shortcode > .fl-page-nav-search > form {
  position: initial;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
}
