.fl-page-nav-search a.fa-search {
  color: inherit;
}

.fl-page-nav-search a.fa-search::before {
  margin-right: -2em;
}

.fl-page-nav-search a.fa-search:hover,
.fl-page-nav-search a.fa-search:focus {
  color: @accent-hover-color;
}

.fl-page-nav-search form {
  margin: 2.5em -2em 0 0;
  background-color: @accent-hover-color;
  border-top: none;
}

.fl-page-nav-search form input.fl-search-input {
  background-color: #fefefe;
  border-color: darken(@accent-hover-color, 10%);
  color: @text-color !important;
}
