/*
 * Scale font size on break points.
 *
 * DON'T EDIT THIS FILE. INSTEAD, EDIT THE FILES IN THE CUSTOM DIRECTORY.
*/


html {
  font-size: @root-size;
}

body {
  font-size: 1rem;
}


@media (min-width: @small_breakpoint) {

  body {
    font-size: 1.25rem;
  }

}

@media (min-width: @medium_breakpoint) {

  body {
    font-size: 1.5rem;
  }

}
