/*
 * WordPress improvements.
 *
 * DON'T EDIT THIS FILE. INSTEAD, EDIT THE FILES IN THE CUSTOM DIRECTORY.
*/


/* Embeds */

div.oembed,
div.wp-audio-shortcode {
  margin-top: 48px;
  margin-bottom: 48px;
  clear: both; /* Escape floats */
}

div.oembed {
  text-align: center;
}

div.oembed-slideshare-net > div {
  display: none;
}


/* Workaround for WordPress wpautop-function bug */

p:empty {
  display: none;
}