/*
 * WordPress improvements.
 *
 * DON'T EDIT THIS FILE. INSTEAD, EDIT THE FILES IN THE CUSTOM DIRECTORY.
*/


/* Embeds */

div.oembed,
div.wp-audio-shortcode {
  margin-top: 48px;
  margin-bottom: 48px;
  clear: both; /* Escape floats */
}

div.oembed {
  text-align: center;
}

div.oembed-slideshare-net > div {
  display: none;
}


/* Comment form */

form.fl-comment-form > p:first-child {
  font-family: @service-font;
  font-size: 12px;
}


/* Workaround for WordPress wpautop-function bug */

p:empty {
  display: none;
}

p > br:last-child {
  display: none;
}
